<launch>
<arg name="image" default="/image"/>
<arg name="vout.look" default=""/>
<arg name="vout.rate" default="4.0"/>
<group ns="rost">
<node pkg="rost_visualize" type="visualwords" name="visualize_curosity" >
  <param name="topics" value="false"/>	
  <param name="local_surprise" value="true"/>	
  <param name="image" value="$(arg image)"/>
  <param name="vout_topicppx" value="$(arg vout.look)"/>
  <param name="vout_rate" value="$(arg vout.rate)"/>
</node>
</group>

<arg name="bag" />
<arg name="rate" default="1"/>
<node pkg="rosbag" type="play" name="play" args="--bags=$(arg bag) --rate=$(arg rate)" required="true">
</node>
</launch>
